In [18]:
import pandas as pd
import geopandas as gpd

In [14]:
df = pd.read_csv('D:\Work\WB\LDT\datasets/digitalization\\220.csv.gz')

<>:1: SyntaxWarning: invalid escape sequence '\W'
<>:1: SyntaxWarning: invalid escape sequence '\W'
C:\Users\sonle\AppData\Local\Temp\ipykernel_39820\1043393893.py:1: SyntaxWarning: invalid escape sequence '\W'
  df = pd.read_csv('D:\Work\WB\LDT\datasets/digitalization\\220.csv.gz')

In [11]:
df

,GSM,220,5,256,22604,0,19.7992,45.3132,8260,72,1,1349276251,1711172248,0.1
0,GSM,220,1,19000,44022,0,22.5397,44.6622,4066,4,1,1350218322,1724053514,0
1,GSM,220,1,22221,46841,0,19.2901,45.0389,15280,44,1,1350302540,1716816182,0
2,GSM,220,1,22221,46842,0,19.2197,45.0671,15518,45,1,1350302540,1716816242,0
3,GSM,220,1,22221,46782,0,19.3353,45.0455,11155,24,1,1350302540,1689592867,0
4,GSM,220,1,22221,46173,0,19.2074,45.0558,8567,10,1,1350302540,1689591737,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6827,GSM,220,5,1024,44202,-1,22.5796,44.6392,1000,1,1,1720843601,1720843601,0
6828,UMTS,220,1,43732,2721147,85,22.5796,44.6392,1000,1,1,1720843643,1720843643,0
6829,GSM,220,1,19000,27022,-1,22.5796,44.6392,1000,1,1,1720844717,1720844717,0
6830,GSM,220,5,16,2024,-1,20.3758,44.8600,1000,1,1,1724038868,1724038868,0
6831,GSM,220,5,16,24904,-1,20.3054,44.9130,1000,1,1,1724046115,1724046115,0

In [17]:
pq = pd.read_parquet('D:\Work\WB\LDT\datasets\digitalization\ookla.parquet')
pq

<>:1: SyntaxWarning: invalid escape sequence '\W'
<>:1: SyntaxWarning: invalid escape sequence '\W'
C:\Users\sonle\AppData\Local\Temp\ipykernel_39820\4098743857.py:1: SyntaxWarning: invalid escape sequence '\W'
  pq = pd.read_parquet('D:\Work\WB\LDT\datasets\digitalization\ookla.parquet')

                avg_d_kbps  avg_u_kbps  devices
quadkey_14
221332223300         14668       18683        1
221332223301         10757        2603        3
221332223302          8315        2894        1
223201211213          8953        2588        1
223302003100         17896       18324        1
...                    ...         ...      ...
31311202210010        6788        7372        1
31311202210201       11976        3117        1
32110312032211        1047        1136        1
33130102321102         269         974        1
33130102321103        1512        1510        1

[2862958 rows x 3 columns]