In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
# df = pd.read_csv('D:\Work\WB\LDT\datasets/digitalization\\220.csv.gz')

In [17]:
pq = pd.read_parquet('D:\Work\WB\LDT\datasets\digitalization\ookla.parquet')
pq

<>:1: SyntaxWarning: invalid escape sequence '\W'
<>:1: SyntaxWarning: invalid escape sequence '\W'
C:\Users\sonle\AppData\Local\Temp\ipykernel_39820\4098743857.py:1: SyntaxWarning: invalid escape sequence '\W'
  pq = pd.read_parquet('D:\Work\WB\LDT\datasets\digitalization\ookla.parquet')

                avg_d_kbps  avg_u_kbps  devices
quadkey_14
221332223300         14668       18683        1
221332223301         10757        2603        3
221332223302          8315        2894        1
223201211213          8953        2588        1
223302003100         17896       18324        1
...                    ...         ...      ...
31311202210010        6788        7372        1
31311202210201       11976        3117        1
32110312032211        1047        1136        1
33130102321102         269         974        1
33130102321103        1512        1510        1

[2862958 rows x 3 columns]

In [3]:
from OSMPythonTools.nominatim import Nominatim
from OSMPythonTools.overpass import overpassQueryBuilder, Overpass

nominatim = Nominatim()
areaId = nominatim.query('Serbia').areaId()
overpass = Overpass()
query = overpassQueryBuilder(area=areaId, elementType='way', selector='"amenity"="hospital"', out='body', includeGeometry=True)
result = overpass.query(query)

[overpass] downloading data: [timeout:25][out:json];area(3609088937)->.searchArea;(way["amenity"="hospital"](area.searchArea);); out body geom;

In [4]:
def make_details(element):
    tags = element.tags()
    if 'name' in tags:
        out = dict()
        out['amenity'] = tags['amenity']
        out['name'] = tags['name']
        if 'lat' in tags:
            out['lat'] = tags['lat']
            out['lon'] = tags['lon']
        elif bool(element.centerLat()):
            out['lat'] = element.centerLat()
            out['lon'] = element.centerLon()
        elif bool(element.geometry()):
            out['lat'] = element.geometry()['coordinates'][0][0][1]
            out['lon'] = element.geometry()['coordinates'][0][0][0]
        else:
            out['lat'] = None
            out['lon'] = None
        return out
    else:
        return None
    
def filter_elements(result):
    elements = list()
    for element in result.elements():
        elements.append(make_details(element))
    filtered = [element for element in elements if element is not None]
    return filtered

In [5]:
filtered = filter_elements(result)
out = pd.DataFrame(filtered)

out

,amenity,name,lat,lon
0,hospital,ГАК Народни фронт,44.809618,20.460292
1,hospital,Неуропсихијатрија,45.768977,19.106787
2,hospital,Клинички центар Војводине,45.254037,19.823653
3,hospital,Специјална болница за реуматске болести,45.249292,19.828312
4,hospital,Клиничко-болнички центар „Звездара“,44.800520,20.501743
...,...,...,...,...
218,hospital,Здравствена станица,43.746802,21.580475
219,hospital,"QKMF ""Safet Idrizi""",42.821678,20.959334
220,hospital,Амбуланта Нови Брачин,43.749266,21.509249
221,hospital,Дом здравља,44.897691,21.421144
222,hospital,"Specijalna bolnica za plućne bolesti ""Budislav...",44.905576,21.418391

In [6]:
out.to_csv('hospitals.csv', index=False)

In [76]:
out = pd.read_csv('D:\Work\WB\LDT\countries\SRB\\raw_data\hospitals.csv')
out.head()

    amenity                                     name        lat        lon
0  hospital                        ГАК Народни фронт  44.809618  20.460292
1  hospital                        Неуропсихијатрија  45.768977  19.106787
2  hospital                Клинички центар Војводине  45.254037  19.823653
3  hospital  Специјална болница за реуматске болести  45.249292  19.828312
4  hospital      Клиничко-болнички центар „Звездара“  44.800520  20.501743

In [6]:
import geopandas as gpd

ookla = gpd.read_file('D:\Work\WB\LDT\countries\SRB\\raw_data\\2024-04-01_performance_mobile_tiles\gps_mobile_tiles.shp')
ookla.quadkey = ookla.quadkey.astype('str')

In [94]:
from datetime import datetime
from pyquadkey2 import quadkey as qk

def quarter_start(year: int, q: int) -> datetime:
    if not 1 <= q <= 4:
        raise ValueError("Quarter must be within [1, 2, 3, 4]")

    month = [1, 4, 7, 10]
    return datetime(year, month[q - 1], 1)


def get_tile_url(service_type: str, year: int, q: int) -> str:
    dt = quarter_start(year, q)

    base_url = "https://ookla-open-data.s3-us-west-2.amazonaws.com/shapefiles/performance"
    url = f"{base_url}/type%3D{service_type}/year%3D{dt:%Y}/quarter%3D{q}/{dt:%Y-%m-%d}_performance_{service_type}_tiles.zip"
    return url

def merge_with_connectivity(out, ookla):
    out = out[~out.lat.isna()]
    out['quadkey_16'] = out.apply(make_quadkey, axis=1)
    out['quadkey_16'] = out['quadkey_16'].astype('str')
    connectivity = ookla[ookla.quadkey.isin(out.quadkey_16)]
    connectivity = connectivity.set_index('quadkey')
    tmp = out.set_index('quadkey_16')
    tmp.index = tmp.index.astype('str')
    tmp = tmp.join(connectivity, how='left')
    tmp = tmp.reset_index().drop_duplicates(
        subset=['name', 'quadkey_16'],
        keep='last').reset_index(drop=True)
    # return connectivity
    return tmp

def make_quadkey(row):
    return qk.from_geo((row['lat'], row['lon']), 16)

In [102]:
# import geopandas as gpd
# tile_url = get_tile_url("fixed", 2022, 1)
# tiles = gpd.read_file(tile_url)

In [98]:
out_merged = merge_with_connectivity(out, ookla)

In [58]:
# out['quadkey_16'] = out.apply(make_quadkey, axis=1)
# out['quadkey_16'] = out['quadkey_16'].astype('str')
# connectivity = ookla[ookla.quadkey.isin(out.quadkey_16)]
# connectivity = connectivity.set_index('quadkey')
# tmp = out.set_index('quadkey_16')
# tmp.index = tmp.index.astype('str')
# tmp = tmp.join(connectivity, how='left')
# tmp = tmp.reset_index().drop_duplicates(
#         subset=['name', 'quadkey_16'],
#         keep='last').reset_index(drop=True)

In [99]:
len(out_merged[pd.notnull(out_merged.avg_d_kbps)])

156

In [100]:
len(out_merged[pd.isnull(out_merged.avg_d_kbps)])

67

In [101]:
out_merged

,quadkey_16,amenity,name,lat,lon,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,devices,geometry
0,1202331012001322,hospital,ГАК Народни фронт,44.809618,20.460292,70238.0,22595.0,22.0,64.0,26.0,"POLYGON ((20.45654 44.81302, 20.46204 44.81302..."
1,1202312312012332,hospital,Неуропсихијатрија,45.768977,19.106787,61218.0,21440.0,105.0,7.0,3.0,"POLYGON ((19.10522 45.77135, 19.11072 45.77135..."
2,1202313222031202,hospital,Клинички центар Војводине,45.254037,19.823653,41896.0,29210.0,27.0,17.0,14.0,"POLYGON ((19.81934 45.25556, 19.82483 45.25556..."
3,1202313222031221,hospital,Специјална болница за реуматске болести,45.249292,19.828312,14161.0,17566.0,19.0,29.0,8.0,"POLYGON ((19.82483 45.25169, 19.83032 45.25169..."
4,1202331012012120,hospital,Клиничко-болнички центар „Звездара“,44.800520,20.501743,96890.0,39397.0,14.0,6.0,4.0,"POLYGON ((20.50049 44.80133, 20.50598 44.80133..."
...,...,...,...,...,...,...,...,...,...,...,...
218,1202331303031220,hospital,Здравствена станица,43.746802,21.580475,NaN,NaN,NaN,NaN,NaN,None
219,1202333011322313,hospital,"QKMF ""Safet Idrizi""",42.821678,20.959334,31709.0,4135.0,18.0,3.0,3.0,"POLYGON ((20.95642 42.82361, 20.96191 42.82361..."
220,1202331303021213,hospital,Амбуланта Нови Брачин,43.749266,21.509249,85630.0,5962.0,21.0,2.0,2.0,"POLYGON ((21.50574 43.75126, 21.51123 43.75126..."
221,1202331100331013,hospital,Дом здравља,44.897691,21.421144,31445.0,8880.0,20.0,10.0,5.0,"POLYGON ((21.41785 44.89869, 21.42334 44.89869..."
222,1202331100313233,hospital,"Specijalna bolnica za plućne bolesti ""Budislav...",44.905576,21.418391,67964.0,6634.0,20.0,10.0,3.0,"POLYGON ((21.41785 44.90647, 21.42334 44.90647..."

In [4]:
import pandas as pd
pd.read_parquet('D:\Work\WB\LDT\countries\SRB\\raw_data\internet\\2022-01-01_performance_fixed_tiles.parquet')

,quadkey,tile,tile_x,tile_y,avg_d_kbps,avg_u_kbps,avg_lat_ms,avg_lat_down_ms,avg_lat_up_ms,tests,devices
0,0022332203013331,"POLYGON((-162.603149414062 66.8999063523575, -...",-162.6004,66.8988,50519,24352,18,NaN,NaN,18,5
1,0022332203013333,"POLYGON((-162.603149414062 66.8977510769183, -...",-162.6004,66.8967,10057,3988,9,NaN,NaN,2,1
2,0022332203031110,"POLYGON((-162.608642578125 66.8955956114071, -...",-162.6059,66.8945,900297,75822,7,NaN,NaN,2,1
3,0022332203031111,"POLYGON((-162.603149414062 66.8955956114071, -...",-162.6004,66.8945,370955,62117,8,NaN,NaN,4,3
4,0022332203031113,"POLYGON((-162.603149414062 66.8934399558101, -...",-162.6004,66.8924,323725,37943,23,NaN,NaN,3,2
...,...,...,...,...,...,...,...,...,...,...,...
6780810,3131120300000300,"POLYGON((170.17822265625 -46.0884717957759, 17...",170.1810,-46.0904,49545,23975,13,NaN,NaN,4,1
6780811,3200202311023123,"POLYGON((2.5323486328125 -72.0112484218371, 2....",2.5351,-72.0121,26478,108402,570,NaN,NaN,1,1
6780812,3220103201010202,"POLYGON((14.501953125 -79.9407167525038, 14.50...",14.5047,-79.9412,7110,33881,244,NaN,NaN,1,1
6780813,3300323003310001,"POLYGON((104.683227539062 -73.3782147793946, 1...",104.6860,-73.3790,30601,9786,3,NaN,NaN,1,1
6780814,3303033201111111,"POLYGON((121.635131835938 -76.5168188771732, 1...",121.6379,-76.5175,52541,17287,9,NaN,NaN,1,1

In [7]:
ookla

,quadkey,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,devices,geometry
0,0022133222330013,10551,19524,161,1,1,"POLYGON ((-160.03235 70.63995, -160.02686 70.6..."
1,0022133222330102,52886,20394,104,1,1,"POLYGON ((-160.02686 70.63995, -160.02136 70.6..."
2,0022133222330210,31909,20621,202,1,1,"POLYGON ((-160.03784 70.63448, -160.03235 70.6..."
3,0022320121121323,10763,4299,209,1,1,"POLYGON ((-166.745 68.35262, -166.7395 68.3526..."
4,0022332203013331,128222,10598,41,3,2,"POLYGON ((-162.60315 66.89991, -162.59766 66.8..."
...,...,...,...,...,...,...,...
3703156,3131120212133130,23923,310,64,1,1,"POLYGON ((169.7937 -46.41514, 169.79919 -46.41..."
3703157,3131120212300132,48211,20319,37,1,1,"POLYGON ((169.66187 -46.44921, 169.66736 -46.4..."
3703158,3131120212302120,50091,659,58,1,1,"POLYGON ((169.65088 -46.4757, 169.65637 -46.47..."
3703159,3131120213200030,48186,14611,54,1,1,"POLYGON ((169.81567 -46.44543, 169.82117 -46.4..."
3703160,3131120220001200,87540,883,51,1,1,"POLYGON ((168.79395 -46.57397, 168.79944 -46.5..."