# Libraries

In [207]:
from datetime import datetime

import pandas as pd
import numpy as np
import geopandas as gpd
from google.cloud import storage
from OSMPythonTools.nominatim import Nominatim
from OSMPythonTools.overpass import overpassQueryBuilder, Overpass
from pyquadkey2 import quadkey as qk

# Functions

In [52]:
def query_osm_overpass(area_name, key, value):

    nominatim = Nominatim()
    areaId = nominatim.query(area_name).areaId()
    overpass = Overpass()
    query = overpassQueryBuilder(area=areaId, elementType='way', selector=f'"{key}"="{value}"', out='body', includeGeometry=True)
    result = overpass.query(query, timeout=120)
    
    return result



def quarter_start(year: int, q: int) -> datetime:
    if not 1 <= q <= 4:
        raise ValueError("Quarter must be within [1, 2, 3, 4]")

    month = [1, 4, 7, 10]
    return datetime(year, month[q - 1], 1)


def get_tile_url(service_type: str, year: int, q: int) -> str:
    dt = quarter_start(year, q)

    base_url = "https://ookla-open-data.s3-us-west-2.amazonaws.com/shapefiles/performance"
    url = f"{base_url}/type%3D{service_type}/year%3D{dt:%Y}/quarter%3D{q}/{dt:%Y-%m-%d}_performance_{service_type}_tiles.zip"
    return url

def merge_with_connectivity(out, ookla):
    out = out[~out.lat.isna()]
    out['quadkey'] = out.apply(make_quadkey, axis=1)
    out['quadkey'] = out['quadkey'].astype('str')
    connectivity = ookla[ookla.quadkey.isin(out['quadkey'])]
    connectivity = connectivity.set_index('quadkey')
    tmp = out.set_index('quadkey')
    tmp.index = tmp.index.astype('str')
    tmp = tmp.join(connectivity, how='left')
    tmp = tmp.reset_index().drop_duplicates(
        subset=['name', 'quadkey'],
        keep='last').reset_index(drop=True)
    # return connectivity
    return tmp

def make_quadkey(row):
    return qk.from_geo((row['lat'], row['lon']), 16)

def make_details(element):
    tags = element.tags()
    if 'name' in tags:
        out = dict()
        out['amenity'] = tags['amenity']
        out['name'] = tags['name']
        if 'lat' in tags:
            out['lat'] = tags['lat']
            out['lon'] = tags['lon']
        elif bool(element.centerLat()):
            out['lat'] = element.centerLat()
            out['lon'] = element.centerLon()
        elif bool(element.geometry()):
            out['lat'] = element.geometry()['coordinates'][0][0][1]
            out['lon'] = element.geometry()['coordinates'][0][0][0]
        else:
            out['lat'] = None
            out['lon'] = None
        return out
    else:
        return None
    
def filter_elements(result):
    elements = list()
    for element in result.elements():
        elements.append(make_details(element))
    filtered = [element for element in elements if element is not None]
    return filtered

In [190]:
poly = gpd.read_file('D:\Work\WB\LDT\countries\SRB\shapefiles\gadm41_SRB_2.json')
poly.head()

,GID_2,GID_0,COUNTRY,GID_1,NAME_1,NL_NAME_1,NAME_2,VARNAME_2,NL_NAME_2,TYPE_2,ENGTYPE_2,CC_2,HASC_2,geometry
0,SRB.1.1_1,SRB,Serbia,SRB.1_1,Borski,Борски,Bor,NA,Бор,Opštine,Town|Municipal,NA,NA,"MULTIPOLYGON (((21.9554 44.1779, 21.9912 44.17..."
1,SRB.1.2_1,SRB,Serbia,SRB.1_1,Borski,Борски,Kladovo,Claudia|Kladowo,Кладово,Opštine,Town|Municipal,NA,NA,"MULTIPOLYGON (((22.6492 44.5411, 22.644 44.545..."
2,SRB.1.3_1,SRB,Serbia,SRB.1_1,Borski,Борски,Majdanpek,NA,Мајданпек,Opštine,Town|Municipal,NA,NA,"MULTIPOLYGON (((22.1915 44.4985, 22.1967 44.51..."
3,SRB.1.4_1,SRB,Serbia,SRB.1_1,Borski,Борски,Negotin,NA,Неготин,Opštine,Town|Municipal,NA,NA,"MULTIPOLYGON (((22.6851 44.2099, 22.6853 44.20..."
4,SRB.2.1_1,SRB,Serbia,SRB.2_1,Braničevski,Браничевски,Golubac,Galambóc|Golumbácz|Güvercinlik,Голубац,Opštine,Town|Municipal,NA,NA,"MULTIPOLYGON (((21.8695 44.6506, 21.8972 44.64..."

In [139]:
result = query_osm_overpass('Serbia', 'amenity', 'hospital')
filtered = filter_elements(result)
out = pd.DataFrame(filtered)
out.to_csv('D:\Work\WB\LDT\countries\SRB\\raw_data\hospitals.csv', index=False)

result = query_osm_overpass('Serbia', 'amenity', 'school')
filtered = filter_elements(result)
out = pd.DataFrame(filtered)
out.to_csv('D:\Work\WB\LDT\countries\SRB\\raw_data\schools.csv', index=False)

,amenity,name,lat,lon
0,school,Гимназија Вељко Петровић,45.771823,19.113606
1,school,Средња техничка школа Сомбор (I зграда),45.773831,19.112550
2,school,Средња техничка школа Сомбор (II зграда),45.772993,19.110734
3,school,Основна школа Доситеј Обрадовић,45.773171,19.111040
4,school,Средња техничка школа Сомбор (III зграда),45.774006,19.109396
...,...,...,...,...
1224,school,Prapaqan School,42.559229,20.340259
1225,school,"Основна школа ""Доситеј Обрадовић"" - Подручно о...",45.088961,19.833926
1226,school,Карловачка гимназија,45.201411,19.933122
1227,school,ОШ „Светитељ Сава”,44.547530,20.832829
1228,school,Dëshmoret e Lubishtës,42.290574,21.406636

In [185]:
hospitals = pd.read_csv('D:\Work\WB\LDT\countries\SRB\\raw_data\hospitals.csv')
schools = pd.read_csv('D:\Work\WB\LDT\countries\SRB\\raw_data\schools.csv')

assets = pd.concat([hospitals, schools], axis=0).reset_index(drop=True)
assets.head()

    amenity                                     name        lat        lon
0  hospital                        ГАК Народни фронт  44.809618  20.460292
1  hospital                        Неуропсихијатрија  45.768977  19.106787
2  hospital                Клинички центар Војводине  45.254037  19.823653
3  hospital  Специјална болница за реуматске болести  45.249292  19.828312
4  hospital      Клиничко-болнички центар „Звездара“  44.800520  20.501743

In [186]:
sv_acc = 'D:\Work\WB\LDT\credentials\wb-ldt-948953b71056.json'

ookla_fixed = pd.read_parquet('gcs://wb-ldt/RS/raw-data/geospatial/internet/2022_combined_fixed.parquet',
                        storage_options={"token": sv_acc})
ookla_fixed.quadkey = ookla_fixed.quadkey.astype('str')

ookla_mobile = pd.read_parquet('gcs://wb-ldt/RS/raw-data/geospatial/internet/2022_combined_mobile.parquet',
                        storage_options={"token": sv_acc})
ookla_mobile.quadkey = ookla_mobile.quadkey.astype('str')

In [187]:
ookla_fixed.head()

,quadkey,tile,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,devices
0,0013230212122122,"POLYGON((-105.97412109375 79.8481885833186, -1...",544197.000000,269445.0,19.000000,1,1
1,0022133222312233,"POLYGON((-160.032348632812 70.6435894914449, -...",125266.000000,15523.0,127.000000,1,1
2,0022133222312322,"POLYGON((-160.02685546875 70.6435894914449, -1...",66682.666667,8126.0,95.666667,22,5
3,0022133222330013,"POLYGON((-160.032348632812 70.6399478155463, -...",223427.000000,23185.0,91.000000,1,1
4,0022133222330023,"POLYGON((-160.043334960938 70.6363054807905, -...",125703.000000,14623.0,270.000000,3,1

In [188]:
ookla_mobile.head()

,quadkey,tile,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,devices
0,0022133222312322,"POLYGON((-160.02685546875 70.6435894914449, -1...",17660.000000,14932.500000,82.500000,4,3
1,0022133222330023,"POLYGON((-160.043334960938 70.6363054807905, -...",19547.333333,14359.666667,107.666667,8,3
2,0022133222330031,"POLYGON((-160.032348632812 70.6381267305321, -...",6790.000000,22363.000000,68.000000,1,1
3,0022133222330032,"POLYGON((-160.037841796875 70.6363054807905, -...",14094.666667,14110.000000,156.333333,16,5
4,0022133222330100,"POLYGON((-160.02685546875 70.6417687358462, -1...",7543.500000,12821.500000,87.500000,7,2

In [191]:
assets_merged = gpd.GeoDataFrame(merge_with_connectivity(out, ookla_fixed))
geometry = gpd.points_from_xy(assets_merged['lon'], 
                              assets_merged['lat'], 
                              crs='EPSG:4326')
assets_merged = assets_merged.set_geometry(geometry)
assets_merged = assets_merged.to_crs(poly.crs)
assets_joined = assets_merged.sjoin(poly[['GID_2', 'geometry']], how='inner')


assets_joined.head()

,quadkey,amenity,name,lat,lon,tile,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,devices,geometry,index_right,GID_2
0,1202312312012331,school,Гимназија Вељко Петровић,45.771823,19.113606,"POLYGON((19.1107177734375 45.775186183521, 19....",61468.50,30354.75,11.5,178.0,70.0,POINT (19.11361 45.77182),150,SRB.24.4_1
1,1202312312012331,school,Средња техничка школа Сомбор (I зграда),45.773831,19.112550,"POLYGON((19.1107177734375 45.775186183521, 19....",61468.50,30354.75,11.5,178.0,70.0,POINT (19.11255 45.77383),150,SRB.24.4_1
2,1202312312012331,school,Средња техничка школа Сомбор (II зграда),45.772993,19.110734,"POLYGON((19.1107177734375 45.775186183521, 19....",61468.50,30354.75,11.5,178.0,70.0,POINT (19.11073 45.77299),150,SRB.24.4_1
3,1202312312012331,school,Основна школа Доситеј Обрадовић,45.773171,19.111040,"POLYGON((19.1107177734375 45.775186183521, 19....",61468.50,30354.75,11.5,178.0,70.0,POINT (19.11104 45.77317),150,SRB.24.4_1
4,1202312312012330,school,Средња техничка школа Сомбор (III зграда),45.774006,19.109396,"POLYGON((19.105224609375 45.775186183521, 19.1...",83631.25,24437.25,10.0,83.0,46.0,POINT (19.1094 45.77401),150,SRB.24.4_1

# Indicators

## EU Broadband Target
* https://www.capacitymedia.com/article/29ot865vu8akt0k1irsow/news/european-union-to-set-100mbps-internet-targets-for-2025
* https://ec.europa.eu/newsroom/dae/document.cfm?doc_id=70030

In [210]:
assets_pass = assets_joined[assets_joined['avg_d_kbps'] >= 30000].groupby(['GID_2']).agg(assets_passed=('name', 'count')).reset_index()
assets_pass = assets_pass.merge(poly[['GID_2', 'NAME_2']], on=['GID_2'], how='right')
assets_pass['assets_passed'] = assets_pass['assets_passed'].fillna(0)

assets_total = assets_joined.groupby(['GID_2']).agg(assets_total=('name', 'count')).reset_index()
assets_total = assets_total.merge(poly[['GID_2', 'NAME_2']], on=['GID_2'], how='right')
assets_total['assets_total'] = assets_total['assets_total'].fillna(0)

pass_df = pd.merge(assets_pass, assets_total, on=['GID_2', 'NAME_2'], how='inner')
pass_df['pass_percentage'] = np.round(100 * pass_df['assets_passed'] / pass_df['assets_total'], 2)
pass_df['pass_percentage'] = pass_df['pass_percentage'].fillna(0)
pass_df

           GID_2  assets_passed      NAME_2  assets_total  pass_percentage
0      SRB.1.1_1            6.0         Bor           9.0            66.67
1      SRB.1.2_1            2.0     Kladovo           2.0           100.00
2      SRB.1.3_1            2.0   Majdanpek           4.0            50.00
3      SRB.1.4_1            0.0     Negotin           1.0             0.00
4      SRB.2.1_1            0.0     Golubac           0.0             0.00
..           ...            ...         ...           ...              ...
156   SRB.25.6_1            1.0      Požega           4.0            25.00
157   SRB.25.7_1            1.0      Priboj           1.0           100.00
158   SRB.25.8_1            4.0  Prijepolje           5.0            80.00
159   SRB.25.9_1            0.0     Sjenica           1.0             0.00
160  SRB.25.10_1           12.0       Užice          15.0            80.00

[161 rows x 5 columns]

In [211]:
pass_df.describe()

       assets_passed  assets_total  pass_percentage
count     161.000000    161.000000       161.000000
mean        3.993789      5.751553        48.114037
std         9.373164     10.911594        41.170547
min         0.000000      0.000000         0.000000
25%         0.000000      1.000000         0.000000
50%         1.000000      3.000000        50.000000
75%         4.000000      6.000000        91.670000
max        94.000000     95.000000       100.000000

## Average Download Speed

In [214]:
assets_gb = assets_joined.groupby(['GID_2']).agg({'avg_d_kbps': 'mean'}).reset_index()

assets_gb = assets_gb.merge(poly[['GID_2', 'NAME_2']], on=['GID_2'], how='right')
assets_gb['avg_d_kbps'] = assets_gb['avg_d_kbps'].fillna(0)
assets_gb

           GID_2    avg_d_kbps      NAME_2
0      SRB.1.1_1  52257.416667         Bor
1      SRB.1.2_1  67387.125000     Kladovo
2      SRB.1.3_1  59282.833333   Majdanpek
3      SRB.1.4_1  17682.250000     Negotin
4      SRB.2.1_1      0.000000     Golubac
..           ...           ...         ...
156   SRB.25.6_1  28041.916667      Požega
157   SRB.25.7_1  32944.750000      Priboj
158   SRB.25.8_1  29873.400000  Prijepolje
159   SRB.25.9_1  20990.250000     Sjenica
160  SRB.25.10_1  81841.500000       Užice

[161 rows x 3 columns]

## Key Structures without Internet Access

In [220]:
null = assets_joined[assets_joined['avg_d_kbps'].isnull()].groupby(['GID_2']).agg(struc_null=('name', 'count')).reset_index()
compare = null.merge(poly, on=['GID_2'], how='right')
compare['struc_null'] = compare['struc_null'].fillna(0)

nnull = assets_joined[assets_joined['avg_d_kbps'].notnull()].groupby(['GID_2']).agg(struc_tot=('name', 'count')).reset_index()
compare = compare.merge(nnull, on=['GID_2'], how='left')
compare['struc_tot'] = compare['struc_tot'].fillna(0)
compare['null_perc'] = 100* compare['struc_null'] / compare['struc_tot']
compare['null_perc'] = compare['null_perc'].fillna(0)
compare

,GID_2,struc_null,GID_0,COUNTRY,GID_1,NAME_1,NL_NAME_1,NAME_2,VARNAME_2,NL_NAME_2,TYPE_2,ENGTYPE_2,CC_2,HASC_2,geometry,struc_tot,null_perc
0,SRB.1.1_1,0.0,SRB,Serbia,SRB.1_1,Borski,Борски,Bor,NA,Бор,Opštine,Town|Municipal,NA,NA,"MULTIPOLYGON (((21.9554 44.1779, 21.9912 44.17...",9.0,0.000000
1,SRB.1.2_1,0.0,SRB,Serbia,SRB.1_1,Borski,Борски,Kladovo,Claudia|Kladowo,Кладово,Opštine,Town|Municipal,NA,NA,"MULTIPOLYGON (((22.6492 44.5411, 22.644 44.545...",2.0,0.000000
2,SRB.1.3_1,1.0,SRB,Serbia,SRB.1_1,Borski,Борски,Majdanpek,NA,Мајданпек,Opštine,Town|Municipal,NA,NA,"MULTIPOLYGON (((22.1915 44.4985, 22.1967 44.51...",3.0,33.333333
3,SRB.1.4_1,0.0,SRB,Serbia,SRB.1_1,Borski,Борски,Negotin,NA,Неготин,Opštine,Town|Municipal,NA,NA,"MULTIPOLYGON (((22.6851 44.2099, 22.6853 44.20...",1.0,0.000000
4,SRB.2.1_1,0.0,SRB,Serbia,SRB.2_1,Braničevski,Браничевски,Golubac,Galambóc|Golumbácz|Güvercinlik,Голубац,Opštine,Town|Municipal,NA,NA,"MULTIPOLYGON (((21.8695 44.6506, 21.8972 44.64...",0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,SRB.25.6_1,1.0,SRB,Serbia,SRB.25_1,Zlatiborski,Златиборски,Požega,NA,Пожега,Opštine,Town|Municipal,NA,NA,"MULTIPOLYGON (((20.0095 44.1042, 20.0168 44.09...",3.0,33.333333
157,SRB.25.7_1,0.0,SRB,Serbia,SRB.25_1,Zlatiborski,Златиборски,Priboj,NA,Прибој,Opštine,Town|Municipal,NA,NA,"MULTIPOLYGON (((19.1857 43.5351, 19.192 43.539...",1.0,0.000000
158,SRB.25.8_1,0.0,SRB,Serbia,SRB.25_1,Zlatiborski,Златиборски,Prijepolje,NA,Пријепоље,Opštine,Town|Municipal,NA,NA,"MULTIPOLYGON (((19.7437 43.1509, 19.7071 43.14...",5.0,0.000000
159,SRB.25.9_1,0.0,SRB,Serbia,SRB.25_1,Zlatiborski,Златиборски,Sjenica,NA,Сјеница,Opštine,Town|Municipal,NA,NA,"MULTIPOLYGON (((20.0337 42.9851, 20.0094 43.01...",1.0,0.000000
160,SRB.25.10_1,2.0,SRB,Serbia,SRB.25_1,Zlatiborski,Златиборски,Užice,NA,Ужице,Opštine,Town|Municipal,NA,NA,"MULTIPOLYGON (((19.5026 43.7237, 19.4788 43.73...",13.0,15.384615

# Raw Data Processing

In [175]:
import pandas as pd
df = pd.read_parquet('D:\Work\WB\LDT\countries\SRB\\raw_data\internet\\2022-01-01_performance_fixed_tiles.parquet')
df.head()

,quadkey,tile,tile_x,tile_y,avg_d_kbps,avg_u_kbps,avg_lat_ms,avg_lat_down_ms,avg_lat_up_ms,tests,devices
0,0022332203013331,"POLYGON((-162.603149414062 66.8999063523575, -...",-162.6004,66.8988,50519,24352,18,NaN,NaN,18,5
1,0022332203013333,"POLYGON((-162.603149414062 66.8977510769183, -...",-162.6004,66.8967,10057,3988,9,NaN,NaN,2,1
2,0022332203031110,"POLYGON((-162.608642578125 66.8955956114071, -...",-162.6059,66.8945,900297,75822,7,NaN,NaN,2,1
3,0022332203031111,"POLYGON((-162.603149414062 66.8955956114071, -...",-162.6004,66.8945,370955,62117,8,NaN,NaN,4,3
4,0022332203031113,"POLYGON((-162.603149414062 66.8934399558101, -...",-162.6004,66.8924,323725,37943,23,NaN,NaN,3,2

In [10]:
df.drop(['tile', 'tile_x', 'tile_y', 'avg_lat_down_ms', 'avg_lat_up_ms'], axis=1)

                  quadkey  avg_d_kbps  avg_u_kbps  avg_lat_ms  tests  devices
0        0022332203013331       50519       24352          18     18        5
1        0022332203013333       10057        3988           9      2        1
2        0022332203031110      900297       75822           7      2        1
3        0022332203031111      370955       62117           8      4        3
4        0022332203031113      323725       37943          23      3        2
...                   ...         ...         ...         ...    ...      ...
6780810  3131120300000300       49545       23975          13      4        1
6780811  3200202311023123       26478      108402         570      1        1
6780812  3220103201010202        7110       33881         244      1        1
6780813  3300323003310001       30601        9786           3      1        1
6780814  3303033201111111       52541       17287           9      1        1

[6780815 rows x 6 columns]

In [180]:
from glob import glob
paths = glob('D:\Work\WB\LDT\countries\SRB\\raw_data\internet\\*_mobile_tiles*')

dfs = []
for path in paths:
    print(path)
    df = pd.read_parquet(path)
    df = df.drop(['tile_x', 'tile_y', 'avg_lat_down_ms', 'avg_lat_up_ms'], axis=1)
    dfs.append(df)

full = pd.concat(dfs, axis=0).reset_index(drop=True)

D:\Work\WB\LDT\countries\SRB\raw_data\internet\2022-01-01_performance_mobile_tiles.parquet
D:\Work\WB\LDT\countries\SRB\raw_data\internet\2022-04-01_performance_mobile_tiles.parquet
D:\Work\WB\LDT\countries\SRB\raw_data\internet\2022-07-01_performance_mobile_tiles.parquet
D:\Work\WB\LDT\countries\SRB\raw_data\internet\2022-10-01_performance_mobile_tiles.parquet

In [181]:
full

,quadkey,tile,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,devices
0,0022133222312322,"POLYGON((-160.02685546875 70.6435894914449, -1...",19110,7891,77,3,2
1,0022133222330023,"POLYGON((-160.043334960938 70.6363054807905, -...",21870,11875,83,2,1
2,0022133222330032,"POLYGON((-160.037841796875 70.6363054807905, -...",14567,14691,75,9,2
3,0022133222330100,"POLYGON((-160.02685546875 70.6417687358462, -1...",5468,9886,83,1,1
4,0022133222330102,"POLYGON((-160.02685546875 70.6399478155463, -1...",24311,16243,72,1,1
...,...,...,...,...,...,...,...
15732682,3131120211221222,"POLYGON((169.8486328125 -46.2824277013447, 169...",61559,31302,38,1,1
15732683,3131120211232103,"POLYGON((169.920043945312 -46.2900198717295, 1...",1146,873,49,1,1
15732684,3131120212300111,"POLYGON((169.667358398438 -46.4378568950242, 1...",65504,15991,40,1,1
15732685,3131120212300123,"POLYGON((169.656372070312 -46.4492124038526, 1...",96368,16433,53,1,1
15732686,3131120212303013,"POLYGON((169.689331054688 -46.4719163208704, 1...",43652,24547,29,1,1

In [182]:
full_gb = full.groupby(['quadkey', 'tile']).agg({'avg_d_kbps': 'mean',
                                         'avg_u_kbps': 'mean',
                                         'avg_lat_ms': 'mean',
                                         'tests': 'sum', 
                                         'devices': 'sum'}).reset_index()
full_gb

,quadkey,tile,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,devices
0,0022133222312322,"POLYGON((-160.02685546875 70.6435894914449, -1...",17660.000000,14932.500000,82.500000,4,3
1,0022133222330023,"POLYGON((-160.043334960938 70.6363054807905, -...",19547.333333,14359.666667,107.666667,8,3
2,0022133222330031,"POLYGON((-160.032348632812 70.6381267305321, -...",6790.000000,22363.000000,68.000000,1,1
3,0022133222330032,"POLYGON((-160.037841796875 70.6363054807905, -...",14094.666667,14110.000000,156.333333,16,5
4,0022133222330100,"POLYGON((-160.02685546875 70.6417687358462, -1...",7543.500000,12821.500000,87.500000,7,2
...,...,...,...,...,...,...,...
8050644,3131120221002013,"POLYGON((169.118041992188 -46.5928439974274, 1...",54752.000000,26099.000000,59.000000,1,1
8050645,3131120221002122,"POLYGON((169.12353515625 -46.6003930373455, 16...",59200.000000,15101.000000,54.000000,1,1
8050646,3131120221020110,"POLYGON((169.134521484375 -46.6192610361715, 1...",53663.000000,31816.000000,41.000000,2,2
8050647,3131120221022002,"POLYGON((169.1015625 -46.6532068712266, 169.10...",29173.000000,30286.000000,62.000000,1,1
8050648,3131120300000111,"POLYGON((170.194702148438 -46.0732306254084, 1...",51053.000000,39136.000000,39.000000,2,2

In [183]:
full_gb.to_parquet('D:\Work\WB\LDT\countries\SRB\\raw_data\internet\\2022_combined_mobile.parquet', index=False)

In [173]:
test = pd.read_parquet('D:\Work\WB\LDT\countries\SRB\\raw_data\internet\\2022-01-01_performance_fixed_tiles.parquet')
test

,quadkey,tile,tile_x,tile_y,avg_d_kbps,avg_u_kbps,avg_lat_ms,avg_lat_down_ms,avg_lat_up_ms,tests,devices
0,0022332203013331,"POLYGON((-162.603149414062 66.8999063523575, -...",-162.6004,66.8988,50519,24352,18,NaN,NaN,18,5
1,0022332203013333,"POLYGON((-162.603149414062 66.8977510769183, -...",-162.6004,66.8967,10057,3988,9,NaN,NaN,2,1
2,0022332203031110,"POLYGON((-162.608642578125 66.8955956114071, -...",-162.6059,66.8945,900297,75822,7,NaN,NaN,2,1
3,0022332203031111,"POLYGON((-162.603149414062 66.8955956114071, -...",-162.6004,66.8945,370955,62117,8,NaN,NaN,4,3
4,0022332203031113,"POLYGON((-162.603149414062 66.8934399558101, -...",-162.6004,66.8924,323725,37943,23,NaN,NaN,3,2
...,...,...,...,...,...,...,...,...,...,...,...
6780810,3131120300000300,"POLYGON((170.17822265625 -46.0884717957759, 17...",170.1810,-46.0904,49545,23975,13,NaN,NaN,4,1
6780811,3200202311023123,"POLYGON((2.5323486328125 -72.0112484218371, 2....",2.5351,-72.0121,26478,108402,570,NaN,NaN,1,1
6780812,3220103201010202,"POLYGON((14.501953125 -79.9407167525038, 14.50...",14.5047,-79.9412,7110,33881,244,NaN,NaN,1,1
6780813,3300323003310001,"POLYGON((104.683227539062 -73.3782147793946, 1...",104.6860,-73.3790,30601,9786,3,NaN,NaN,1,1
6780814,3303033201111111,"POLYGON((121.635131835938 -76.5168188771732, 1...",121.6379,-76.5175,52541,17287,9,NaN,NaN,1,1