In [1]:
import requests
from datetime import datetime
import time
import json
import glob

import pandas as pd
import numpy as np
import geopandas as gpd
from pytz import timezone
%matplotlib inline
import seaborn as sns
from tqdm import tqdm_notebook as tqdm

In [2]:
api_key = 'ac31e02046794bd3f959fbc98fc25231'

In [3]:
gdf = gpd.read_file('D:\Work\WB\LDT\countries\SRB\shapefiles\gadm41_SRB_2.json')
center = gpd.GeoDataFrame(gdf[['GID_2', 'NAME_2']])
center['geometry'] = gdf.centroid
center = center.to_crs(gdf.crs)
center['lat'] = center.geometry.y
center['lon'] = center.geometry.x
center
# gdf

C:\Users\sonle\AppData\Local\Temp\ipykernel_38400\2083312229.py:3: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  center['geometry'] = gdf.centroid
C:\Users\sonle\AppData\Local\Temp\ipykernel_38400\2083312229.py:3: FutureWarning: You are adding a column named 'geometry' to a GeoDataFrame constructed without an active geometry column. Currently, this automatically sets the active geometry column to 'geometry' but in the future that will no longer happen. Instead, either provide geometry to the GeoDataFrame constructor (GeoDataFrame(... geometry=GeoSeries()) or use `set_geometry('geometry')` to explicitly set the active geometry column.
  center['geometry'] = gdf.centroid

           GID_2      NAME_2                   geometry        lat        lon
0      SRB.1.1_1         Bor  POINT (22.05425 44.07092)  44.070917  22.054249
1      SRB.1.2_1     Kladovo  POINT (22.47141 44.56865)  44.568655  22.471406
2      SRB.1.3_1   Majdanpek    POINT (22.058 44.38801)  44.388008  22.057996
3      SRB.1.4_1     Negotin  POINT (22.42711 44.24799)  44.247986  22.427111
4      SRB.2.1_1     Golubac  POINT (21.74048 44.60889)  44.608886  21.740484
..           ...         ...                        ...        ...        ...
156   SRB.25.6_1      Požega   POINT (20.0178 43.88806)  43.888056  20.017801
157   SRB.25.7_1      Priboj  POINT (19.40003 43.50832)  43.508319  19.400028
158   SRB.25.8_1  Prijepolje  POINT (19.62589 43.32048)  43.320476  19.625891
159   SRB.25.9_1     Sjenica  POINT (20.00164 43.20967)  43.209667  20.001638
160  SRB.25.10_1       Užice  POINT (19.72217 43.83067)  43.830667  19.722173

[161 rows x 5 columns]

In [4]:
gid_2 = center['GID_2'].to_list()
lat = center['lat'].to_list()
lon = center['lon'].to_list()

loc_dict = {}
for i in range(len(gid_2)):
    loc_dict[gid_2[i]] = [lat[i], lon[i]]

In [5]:
loc_dict

{'SRB.1.1_1': [44.070916840003875, 22.05424872664738],
 'SRB.1.2_1': [44.5686546148656, 22.471405549626134],
 'SRB.1.3_1': [44.38800848123445, 22.057996177042046],
 'SRB.1.4_1': [44.247985541215726, 22.42711139779415],
 'SRB.2.1_1': [44.60888632367149, 21.74048439329081],
 'SRB.2.2_1': [44.45935440783599, 21.714726353653496],
 'SRB.2.3_1': [44.52122465631768, 21.335332314037128],
 'SRB.2.4_1': [44.337986357280606, 21.439651473279095],
 'SRB.2.5_1': [44.63989642646239, 21.190605805795062],
 'SRB.2.6_1': [44.687345803589444, 21.43636807884723],
 'SRB.2.7_1': [44.36787554880919, 21.214356338737765],
 'SRB.2.8_1': [44.19508760637038, 21.735714704002095],
 'SRB.3.1_1': [44.549994492875925, 20.371487647191852],
 'SRB.3.2_1': [44.68998770604238, 20.361058549735947],
 'SRB.3.3_1': [44.634950376453595, 20.652155765778986],
 'SRB.3.4_1': [44.37768730613215, 20.3008821128093],
 'SRB.3.5_1': [44.42604587242706, 20.681950629318763],
 'SRB.3.6_1': [44.79295725163482, 20.36386308456866],
 'SRB.3.7_1': [44.59276553893116, 20.127572791365136],
 'SRB.3.8_1': [44.91475583542901, 20.429624653707325],
 'SRB.3.9_1': [44.70745914981887, 20.433389641274147],
 'SRB.3.10_1': [44.76525799425974, 20.434761693327204],
 'SRB.3.11_1': [44.495314307436274, 20.525116552458815],
 'SRB.3.12_1': [44.79956623039915, 20.44329809184941],
 'SRB.3.13_1': [44.74911122971226, 20.20514198427651],
 'SRB.3.14_1': [44.65543005370282, 20.505013711381025],
 'SRB.3.15_1': [44.778130038272806, 20.46153163199215],
 'SRB.3.16_1': [44.85746167582646, 20.270100967996804],
 'SRB.3.17_1': [44.76144475885182, 20.517754312127988],
 'SRB.4.1_1': [43.01323782383457, 21.6826043488389],
 'SRB.4.2_1': [42.84251810061577, 22.336374852521455],
 'SRB.4.3_1': [42.88210264203705, 21.73224425708975],
 'SRB.4.4_1': [42.9376222031498, 21.95656935609409],
 'SRB.4.5_1': [42.81512941536357, 21.549549429302022],
 'SRB.4.6_1': [42.96525082848744, 22.195863398925944],
 'SRB.5.1_1': [45.3964226642445, 19.13661546959361],
 'SRB.5.2_1': [45.33935806351218, 19.394253975301652],
 'SRB.5.3_1': [45.348667747030994, 19.564100555044416],
 'SRB.5.4_1': [45.653968288550836, 19.950895089827217],
 'SRB.5.5_1': [45.18516666219804, 19.620482746597652],
 'SRB.5.6_1': [45.279501234694465, 19.807242794041095],
 'SRB.5.7_1': [45.57459504437751, 19.805740534070452],
 'SRB.5.8_1': [45.179490669765066, 19.935415033630687],
 'SRB.5.9_1': [45.426481985009296, 19.84818472812236],
 'SRB.5.10_1': [45.23351204389391, 20.168081675164817],
 'SRB.5.11_1': [45.52213103001069, 19.605108793318898],
 'SRB.5.12_1': [45.39512525115416, 20.063212413509614],
 'SRB.6.1_1': [45.0754523912424, 20.933187309749766],
 'SRB.6.2_1': [44.89522056201531, 21.343295532397317],
 'SRB.6.3_1': [45.10365550029524, 20.654580505634996],
 'SRB.6.4_1': [44.79301868443788, 20.996992243203586],
 'SRB.6.5_1': [45.063558876157096, 20.491004061436847],
 'SRB.6.6_1': [44.849696945978906, 20.718444878011574],
 'SRB.6.7_1': [45.232747101, 21.056775545058425],
 'SRB.6.8_1': [45.07309353451797, 21.271441186982763],
 'SRB.7.1_1': [44.35006251514387, 20.14286458082162],
 'SRB.7.2_1': [44.197323328315996, 20.27141662235613],
 'SRB.7.3_1': [44.18620405041018, 20.05670880112464],
 'SRB.7.4_1': [44.32722801593177, 19.552163011314136],
 'SRB.7.5_1': [44.4511474329576, 20.005555474017193],
 'SRB.7.6_1': [44.25224147554463, 19.798289625390712],
 'SRB.8.1_1': [44.8341646700381, 19.461516685854903],
 'SRB.8.2_1': [44.469550424284044, 19.73851607469837],
 'SRB.8.3_1': [44.37540189608925, 19.380350332557207],
 'SRB.8.4_1': [44.208382610608986, 19.43688526303068],
 'SRB.8.5_1': [44.538295478983464, 19.326497581699048],
 'SRB.8.6_1': [44.374540257281936, 19.171189842172197],
 'SRB.8.7_1': [44.68423676037245, 19.57408671805146],
 'SRB.8.8_1': [44.597871881757676, 19.800756828355663],
 'SRB.9.1_1': [43.86691857620279, 20.380629130914272],
 'SRB.9.2_1': [44.04752552142094, 20.341750784496526],
 'SRB.9.3_1': [43.469265513413674, 20.192860104536862],
 'SRB.9.4_1': [43.73918278307017, 20.264755087559525],
 'SRB.10.1_1': [43.500215628812235, 21.685290527496267],
 'SRB.10.2_1': [43.20175022117383, 21.843370340809248],
 'SRB.10.3_1': [43.15362191089629, 22.09032415027902],
 'SRB.10.4_1': [43.29338439659411, 21.687357347071714],
 'SRB.10.5_1': [43.33021327893575, 21.935785838305975],
 'SRB.10.6_1': [43.69983991771808, 21.57110095442678],
 'SRB.10.7_1': [43.42338223466202, 22.12463776026338],
 'SRB.11.1_1': [42.46224559345175, 22.37444785363134],
 'SRB.11.2_1': [42.434249165093156, 21.785175328172226],
 'SRB.11.3_1': [42.30987146576775, 21.66561344678689],
 'SRB.11.4_1': [42.67913465419609, 22.291724533110457],
 'SRB.11.5_1': [42.37617132618428, 22.13076530558243],
 'SRB.11.6_1': [42.71248131135121, 22.03564701407826],
 'SRB.11.7_1': [42.55908293925469, 21.967212071770888],
 'SRB.12.1_1': [43.001559931111395, 22.429408341138103],
 'SRB.12.2_1': [43.23911324354468, 22.295443597345436],
 'SRB.12.3_1': [43.02140116008826, 22.774446310781464],
 'SRB.12.4_1': [43.19634012785961, 22.63667175789168],
 'SRB.13.1_1': [44.56058161424595, 20.94731918696514],
 'SRB.13.2_1': [44.37241048246939, 20.885637883281444],
 'SRB.13.3_1': [44.329539306898944, 21.06812973153524],
 'SRB.14.1_1': [43.95539375083514, 21.405370632382017],
 'SRB.14.2_1': [44.063408714847355, 21.548546145418534],
 'SRB.14.3_1': [43.96872098506775, 21.195057969130474],
 'SRB.14.4_1': [43.84837246210834, 21.495095432104787],
 'SRB.14.5_1': [43.79669239591674, 21.078000189570016],
 'SRB.14.6_1': [44.176998842004444, 21.23267762138841],
 'SRB.15.1_1': [43.45143917649744, 20.983844964160987],
 'SRB.15.2_1': [43.30019614907152, 20.971586444774925],
 'SRB.15.3_1': [43.665576592968804, 21.434598391100746],
 'SRB.15.4_1': [43.50592155741386, 21.33837944448452],
 'SRB.15.5_1': [43.60941241320692, 21.031353127082014],
 'SRB.15.6_1': [43.71320616321226, 21.276056802302115],
 'SRB.16.1_1': [43.61328078899905, 20.616105826830108],
 'SRB.16.2_1': [43.1346967663509, 20.444197297868563],
 'SRB.16.3_1': [43.312486789716615, 20.617421835754776],
 'SRB.16.4_1': [42.99272021429552, 20.277927476218217],
 'SRB.16.5_1': [43.58131253839984, 20.835005350942314],
 'SRB.17.1_1': [45.84597205274403, 19.577539201799986],
 'SRB.17.2_1': [45.70334296582968, 19.66945045315576],
 'SRB.17.3_1': [46.035372839297445, 19.623613785484253],
 'SRB.18.1_1': [45.80194367682629, 20.01132754039131],
 'SRB.18.2_1': [45.929779241660526, 20.199860976924008],
 'SRB.18.3_1': [46.05913020411413, 19.94150194318201],
 'SRB.18.4_1': [45.80508148832877, 20.43967744804671],
 'SRB.18.5_1': [46.077144063639835, 20.170400876040336],
 'SRB.18.6_1': [45.90842653696574, 19.949054751765665],
 'SRB.19.1_1': [45.64447146522396, 20.210170022869313],
 'SRB.19.2_1': [45.68738341073816, 20.653935432809032],
 'SRB.19.3_1': [45.34280158252237, 20.79163897313726],
 'SRB.19.4_1': [45.54155042144759, 20.622408999343996],
 'SRB.19.5_1': [45.33528508591618, 20.402305776264473],
 'SRB.20.1_1': [45.09122150307959, 20.098159146150522],
 'SRB.20.2_1': [45.087224901410835, 19.83857219409407],
 'SRB.20.3_1': [44.78576290023002, 19.989597255324824],
 'SRB.20.4_1': [44.88831244845911, 19.81499861814399],
 'SRB.20.5_1': [45.06699465363561, 19.234051191364472],
 'SRB.20.6_1': [45.01050350362249, 19.533280916547994],
 'SRB.20.7_1': [44.963344911217426, 20.16267730331382],
 'SRB.21.1_1': [44.29421498987457, 20.513528830112133],
 'SRB.21.2_1': [44.10486433499303, 21.041302491028556],
 'SRB.21.3_1': [43.907873607586815, 20.69968920170389],
 'SRB.21.4_1': [44.01322374296605, 20.8454383506779],
 'SRB.21.5_1': [44.172875187248536, 21.072544147252717],
 'SRB.21.6_1': [44.18788969987916, 20.90719352432775],
 'SRB.21.7_1': [44.21548195583749, 20.677883390136913],
 'SRB.22.1_1': [43.28561605242466, 21.271656468194216],
 'SRB.22.2_1': [43.07304181313856, 21.224680757825226],
 'SRB.22.3_1': [43.181622055094934, 21.49667475933273],
 'SRB.22.4_1': [43.15444189518513, 21.712040219666918],
 'SRB.23.1_1': [43.845435144461504, 21.89105013091939],
 'SRB.23.2_1': [43.535886053808895, 22.305463004718963],
 'SRB.23.3_1': [43.6501743886634, 21.870564232563343],
 'SRB.23.4_1': [43.904479132172355, 22.273729857502587],
 'SRB.24.1_1': [45.64914684163194, 19.021684289321254],
 'SRB.24.2_1': [45.669425286075224, 19.43744338987215],
 'SRB.24.3_1': [45.53500976090965, 19.23637897858066],
 'SRB.24.4_1': [45.83727361116492, 19.126735162807094],
 'SRB.25.1_1': [43.66444459597039, 20.015222427235603],
 'SRB.25.2_1': [43.96296383312866, 19.537477635602563],
 'SRB.25.3_1': [43.68782895839279, 19.68194700710002],
 'SRB.25.4_1': [44.02700419027259, 19.84798015324908],
 'SRB.25.5_1': [43.47597460687702, 19.809874376051734],
 'SRB.25.6_1': [43.88805569689747, 20.01780062982955],
 'SRB.25.7_1': [43.508319136221445, 19.400028405640597],
 'SRB.25.8_1': [43.32047586308336, 19.625891446838153],
 'SRB.25.9_1': [43.20966709643652, 20.00163789838986],
 'SRB.25.10_1': [43.83066690598966, 19.722172719684156]}

In [39]:
def create_json(loc:str, start: int, end: int) -> dict:
    lat = loc_dict[loc][0]
    lon = loc_dict[loc][1]
    hist_url = f'http://api.openweathermap.org/data/2.5/air_pollution/history?lat={lat}&lon={lon}&start={start}&end={end}&appid={api_key}'
    r = requests.get(hist_url)
    json_out = r.json()
    json_out['name'] = loc

    return json_out

year = 2022
start_date = int(time.mktime(datetime(year, 1, 1).timetuple()))
end_date = int(time.mktime(datetime(year, 12, 31).timetuple()))

for location_name in tqdm(list(loc_dict.keys())):
    print(location_name)
    json_res = create_json(location_name, start_date, end_date)
    with open(f"D:\Work\WB\LDT\countries\SRB\\raw_data\\air_pollution\municipalities\{location_name}_{year}.json", "w") as outfile: 
            json.dump(json_res, outfile)

C:\Users\sonle\AppData\Local\Temp\ipykernel_38400\901510604.py:15: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for location_name in tqdm(list(loc_dict.keys())):

  0%|          | 0/161 [00:00<?, ?it/s]

SRB.1.1_1
SRB.1.2_1
SRB.1.3_1
SRB.1.4_1
SRB.2.1_1
SRB.2.2_1
SRB.2.3_1
SRB.2.4_1
SRB.2.5_1
SRB.2.6_1
SRB.2.7_1
SRB.2.8_1
SRB.3.1_1
SRB.3.2_1
SRB.3.3_1
SRB.3.4_1
SRB.3.5_1
SRB.3.6_1
SRB.3.7_1
SRB.3.8_1
SRB.3.9_1
SRB.3.10_1
SRB.3.11_1
SRB.3.12_1
SRB.3.13_1
SRB.3.14_1
SRB.3.15_1
SRB.3.16_1
SRB.3.17_1
SRB.4.1_1
SRB.4.2_1
SRB.4.3_1
SRB.4.4_1
SRB.4.5_1
SRB.4.6_1
SRB.5.1_1
SRB.5.2_1
SRB.5.3_1
SRB.5.4_1
SRB.5.5_1
SRB.5.6_1
SRB.5.7_1
SRB.5.8_1
SRB.5.9_1
SRB.5.10_1
SRB.5.11_1
SRB.5.12_1
SRB.6.1_1
SRB.6.2_1
SRB.6.3_1
SRB.6.4_1
SRB.6.5_1
SRB.6.6_1
SRB.6.7_1
SRB.6.8_1
SRB.7.1_1
SRB.7.2_1
SRB.7.3_1
SRB.7.4_1
SRB.7.5_1
SRB.7.6_1
SRB.8.1_1
SRB.8.2_1
SRB.8.3_1
SRB.8.4_1
SRB.8.5_1
SRB.8.6_1
SRB.8.7_1
SRB.8.8_1
SRB.9.1_1
SRB.9.2_1
SRB.9.3_1
SRB.9.4_1
SRB.10.1_1
SRB.10.2_1
SRB.10.3_1
SRB.10.4_1
SRB.10.5_1
SRB.10.6_1
SRB.10.7_1
SRB.11.1_1
SRB.11.2_1
SRB.11.3_1
SRB.11.4_1
SRB.11.5_1
SRB.11.6_1
SRB.11.7_1
SRB.12.1_1
SRB.12.2_1
SRB.12.3_1
SRB.12.4_1
SRB.13.1_1
SRB.13.2_1
SRB.13.3_1
SRB.14.1_1
SRB.14.2_1
SRB.14.3_1
SRB.14.4_1
SRB.14.5_1
SRB.14.6_1
SRB.15.1_1
SRB.15.2_1
SRB.15.3_1
SRB.15.4_1
SRB.15.5_1
SRB.15.6_1
SRB.16.1_1
SRB.16.2_1
SRB.16.3_1
SRB.16.4_1
SRB.16.5_1
SRB.17.1_1
SRB.17.2_1
SRB.17.3_1
SRB.18.1_1
SRB.18.2_1
SRB.18.3_1
SRB.18.4_1
SRB.18.5_1
SRB.18.6_1
SRB.19.1_1
SRB.19.2_1
SRB.19.3_1
SRB.19.4_1
SRB.19.5_1
SRB.20.1_1
SRB.20.2_1
SRB.20.3_1
SRB.20.4_1
SRB.20.5_1
SRB.20.6_1
SRB.20.7_1
SRB.21.1_1
SRB.21.2_1
SRB.21.3_1
SRB.21.4_1
SRB.21.5_1
SRB.21.6_1
SRB.21.7_1
SRB.22.1_1
SRB.22.2_1
SRB.22.3_1
SRB.22.4_1
SRB.23.1_1
SRB.23.2_1
SRB.23.3_1
SRB.23.4_1
SRB.24.1_1
SRB.24.2_1
SRB.24.3_1
SRB.24.4_1
SRB.25.1_1
SRB.25.2_1
SRB.25.3_1
SRB.25.4_1
SRB.25.5_1
SRB.25.6_1
SRB.25.7_1
SRB.25.8_1
SRB.25.9_1
SRB.25.10_1

In [111]:
# gdf = gpd.read_file('countries/SRB/gadm41_SRB_2.json')
# center = gpd.GeoDataFrame(gdf[['GID_2', 'NAME_2']])
# center['geometry'] = gdf.centroid
# center = center.to_crs(gdf.crs)
# center['lat'] = center.geometry.y
# center['lon'] = center.geometry.x

# gid_2 = center['GID_2'].to_list()
# lat = center['lat'].to_list()
# lon = center['lon'].to_list()

# loc_dict = {}
# for i in range(len(gid_2)):
#     loc_dict[gid_2[i]] = [lat[i], lon[i]]

# loc_dict

In [112]:
# def create_json(loc:str, start: int, end: int) -> dict:
#     lat = loc_dict[loc][0]
#     lon = loc_dict[loc][1]
#     hist_url = f'http://api.openweathermap.org/data/2.5/air_pollution/history?lat={lat}&lon={lon}&start={start}&end={end}&appid={api_key}'
#     r = requests.get(hist_url)
#     json_out = r.json()
#     json_out['name'] = loc

#     return json_out

# year = 2023
# start_date = int(time.mktime(datetime(year, 1, 1).timetuple()))
# end_date = int(time.mktime(datetime(year, 12, 31).timetuple()))

# for location_name in list(loc_dict.keys()):
#     print(location_name)
#     json_res = create_json(location_name, start_date, end_date)
#     with open(f"countries/SRB/air_pollution/municipalities/{location_name}_{year}.json", "w") as outfile: 
#             json.dump(json_res, outfile)

In [46]:
paths = glob.glob('D:\Work\WB\LDT\countries\SRB\\raw_data\\air_pollution\municipalities/*_2022.json')
paths.sort()
len(paths)

161

In [43]:
dfs = []

for path in tqdm(paths):
    # print(path)
    with open(path) as f:
        d = json.load(f)
    i = path.rindex('\\')

    no2 = [x['components']['no2'] for x in d['list']]
    so2 = [x['components']['so2'] for x in d['list']]
    co = [x['components']['co'] for x in d['list']]
    o3 = [x['components']['o3'] for x in d['list']]
    pm10 = [x['components']['pm10'] for x in d['list']]
    pm25 = [x['components']['pm2_5'] for x in d['list']]
    dt = [x['dt'] for x in d['list']]

    df = pd.DataFrame({'datetime_unix': dt,
                    'o3': o3,
                    'pm25': pm25,
                    'pm10': pm10,
                    'co': co,
                    'so2': so2,
                    'no2': no2})
    df['lon'] = d['coord']['lon']
    df['lat'] = d['coord']['lat']
    df['location'] = path[i+1:-10]
    dfs.append(df)

full_df = pd.concat(dfs, axis=0).reset_index(drop=True)
full_df['timestamp'] = pd.to_datetime(full_df['datetime_unix'],unit='s')
full_df['timestamp'] = full_df['timestamp'].dt.tz_localize('UTC').dt.tz_convert('Asia/Ho_Chi_Minh')
full_df = full_df.drop(['datetime_unix'], axis=1)
full_df = full_df[['location', 'lon', 'lat', 'timestamp',
                   'o3', 'pm25', 'pm10', 'co', 'so2', 'no2']]
full_df = full_df.sort_values(by=['location', 'timestamp']).reset_index(drop=True)
full_df

C:\Users\sonle\AppData\Local\Temp\ipykernel_38400\1850091446.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for path in tqdm(paths):

  0%|          | 0/161 [00:00<?, ?it/s]

,location,lon,lat,timestamp,o3,pm25,pm10,co,so2,no2
0,SRB.1.1_1,22.0542,44.0709,2022-01-01 00:00:00+07:00,56.51,7.27,8.66,236.99,14.54,4.28
1,SRB.1.1_1,22.0542,44.0709,2022-01-01 01:00:00+07:00,57.22,6.78,8.33,240.33,14.78,4.07
2,SRB.1.1_1,22.0542,44.0709,2022-01-01 02:00:00+07:00,57.94,6.34,7.97,236.99,13.35,3.73
3,SRB.1.1_1,22.0542,44.0709,2022-01-01 03:00:00+07:00,57.94,5.92,7.53,236.99,11.09,3.30
4,SRB.1.1_1,22.0542,44.0709,2022-01-01 04:00:00+07:00,59.37,5.42,6.96,230.31,9.42,2.87
...,...,...,...,...,...,...,...,...,...,...
1371035,SRB.9.4_1,20.2648,43.7392,2022-12-30 20:00:00+07:00,57.94,5.09,6.88,223.64,1.01,2.38
1371036,SRB.9.4_1,20.2648,43.7392,2022-12-30 21:00:00+07:00,45.06,6.24,9.45,223.64,0.75,4.84
1371037,SRB.9.4_1,20.2648,43.7392,2022-12-30 22:00:00+07:00,37.91,7.20,11.60,230.31,0.59,7.71
1371038,SRB.9.4_1,20.2648,43.7392,2022-12-30 23:00:00+07:00,33.62,8.27,13.78,236.99,0.51,10.97
1371039,SRB.9.4_1,20.2648,43.7392,2022-12-31 00:00:00+07:00,27.18,9.07,15.39,240.33,0.38,13.54

In [44]:
full_df['year'] = full_df['timestamp'].dt.year
full_df['date'] = full_df['timestamp'].dt.date
full_df

,location,lon,lat,timestamp,o3,pm25,pm10,co,so2,no2,year,date
0,SRB.1.1_1,22.0542,44.0709,2022-01-01 00:00:00+07:00,56.51,7.27,8.66,236.99,14.54,4.28,2022,2022-01-01
1,SRB.1.1_1,22.0542,44.0709,2022-01-01 01:00:00+07:00,57.22,6.78,8.33,240.33,14.78,4.07,2022,2022-01-01
2,SRB.1.1_1,22.0542,44.0709,2022-01-01 02:00:00+07:00,57.94,6.34,7.97,236.99,13.35,3.73,2022,2022-01-01
3,SRB.1.1_1,22.0542,44.0709,2022-01-01 03:00:00+07:00,57.94,5.92,7.53,236.99,11.09,3.30,2022,2022-01-01
4,SRB.1.1_1,22.0542,44.0709,2022-01-01 04:00:00+07:00,59.37,5.42,6.96,230.31,9.42,2.87,2022,2022-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...
1371035,SRB.9.4_1,20.2648,43.7392,2022-12-30 20:00:00+07:00,57.94,5.09,6.88,223.64,1.01,2.38,2022,2022-12-30
1371036,SRB.9.4_1,20.2648,43.7392,2022-12-30 21:00:00+07:00,45.06,6.24,9.45,223.64,0.75,4.84,2022,2022-12-30
1371037,SRB.9.4_1,20.2648,43.7392,2022-12-30 22:00:00+07:00,37.91,7.20,11.60,230.31,0.59,7.71,2022,2022-12-30
1371038,SRB.9.4_1,20.2648,43.7392,2022-12-30 23:00:00+07:00,33.62,8.27,13.78,236.99,0.51,10.97,2022,2022-12-30
1371039,SRB.9.4_1,20.2648,43.7392,2022-12-31 00:00:00+07:00,27.18,9.07,15.39,240.33,0.38,13.54,2022,2022-12-31

In [47]:
full_df = full_df.sort_values(by=['location', 'timestamp'])


def calculate_rolling_avg(group):
    # https://environment.ec.europa.eu/topics/air/air-quality/eu-air-quality-standards_en
    # https://uk-air.defra.gov.uk/air-pollution/faq?question=20#:~:text=The%20maximum%20daily%20running%208,average%20concentrations%20over%20a%20year. 

    group = group.sort_index()
    group['o3_8hr_avg'] = group['o3'].rolling(window=8, min_periods=1).mean()
    # group['co_8hr_avg'] = group['co'].rolling(window=8, min_periods=1).mean()
    return group

full_df = full_df.groupby('location').apply(calculate_rolling_avg).reset_index(drop=True)
o3_daily = full_df.groupby(['location', 'year', 'date']).agg(o3_daily=('o3_8hr_avg', 'max')).reset_index()
o3_yearly = o3_daily.groupby(['location', 'year']).agg(o3=('o3_daily', 'mean')).reset_index()
o3_yearly

C:\Users\sonle\AppData\Local\Temp\ipykernel_38400\1765404289.py:13: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  full_df = full_df.groupby('location').apply(calculate_rolling_avg).reset_index(drop=True)

       location  year         o3
0     SRB.1.1_1  2022  83.223843
1     SRB.1.2_1  2022  82.699687
2     SRB.1.3_1  2022  81.591422
3     SRB.1.4_1  2022  79.895999
4    SRB.10.1_1  2022  85.749346
..          ...   ...        ...
155   SRB.8.7_1  2022  84.135554
156   SRB.8.8_1  2022  84.628065
157   SRB.9.1_1  2022  79.494700
158   SRB.9.2_1  2022  79.423444
159   SRB.9.4_1  2022  78.668450

[160 rows x 3 columns]

In [48]:
pm25_yearly = full_df.groupby(['location', 'year']).agg(pm25=('pm25', 'mean')).reset_index()
pm25_yearly

       location  year       pm25
0     SRB.1.1_1  2022   8.200826
1     SRB.1.2_1  2022   8.020168
2     SRB.1.3_1  2022   8.813018
3     SRB.1.4_1  2022   8.931743
4    SRB.10.1_1  2022  10.482962
..          ...   ...        ...
155   SRB.8.7_1  2022  10.768622
156   SRB.8.8_1  2022  11.244723
157   SRB.9.1_1  2022   9.239583
158   SRB.9.2_1  2022  10.745974
159   SRB.9.4_1  2022   8.602734

[160 rows x 3 columns]

In [49]:
out_df = pd.merge(pm25_yearly, o3_yearly, on=['location', 'year'], how='inner')
out_df = out_df.rename({'location': 'GID_2'}, axis=1)
out_df

          GID_2  year       pm25         o3
0     SRB.1.1_1  2022   8.200826  83.223843
1     SRB.1.2_1  2022   8.020168  82.699687
2     SRB.1.3_1  2022   8.813018  81.591422
3     SRB.1.4_1  2022   8.931743  79.895999
4    SRB.10.1_1  2022  10.482962  85.749346
..          ...   ...        ...        ...
155   SRB.8.7_1  2022  10.768622  84.135554
156   SRB.8.8_1  2022  11.244723  84.628065
157   SRB.9.1_1  2022   9.239583  79.494700
158   SRB.9.2_1  2022  10.745974  79.423444
159   SRB.9.4_1  2022   8.602734  78.668450

[160 rows x 4 columns]

In [50]:
out_df.to_csv('D:\Work\WB\LDT\countries\SRB\datasets\SRB_air_pollution_2022_GID2.csv', index=False)

In [32]:
# gb = full_df.groupby(['location', 'year']).agg({'pm25': 'mean',
#                                            'pm10': 'mean',
#                                            'no2': 'mean'}).reset_index()
# gb = gb.rename({'location': 'NUTS_ID'}, axis=1)
# gb = gdf[['NUTS_ID', 'NAME_LATN']].merge(gb, on=['NUTS_ID'], how='left')
# gb = gb.rename({'NAME_LATN': 'DISTRICT'}, axis=1)
# gb.columns = gb.columns.str.upper()
# gb['UNIT'] = 'ug/m3'
# gb

In [33]:
# gb.to_csv('countries/SRB/datasets/SRB_air_pollution_2023_NUTS3.csv', index=False)

In [34]:
# gdp = pd.read_csv('countries/SRB/data/gdp/EU_GDP_2021_PPP.csv')
# gdp

In [124]:
# srb_gdp = gdp[(gdp['NUTS_ID'].str.contains('RS')) & (gdp['LEVL_CODE'] == 3)]
# srb_gdp = srb_gdp[srb_gdp['NUTS_ID'] != 'RSZZZ']
# srb_gdp = srb_gdp[srb_gdp['UNIT'] == 'Million EUR']
# srb_gdp = srb_gdp[srb_gdp['YEAR'] == 2023].reset_index(drop=True)
# srb_gdp['VALUE'] = srb_gdp['VALUE']*1000000
# srb_gdp['UNIT'] = 'EUR 2021'
# srb_gdp = pd.merge(srb_gdp, gdf[['NUTS_ID', 'NAME_LATN']], on=['NUTS_ID'], how='left')
# srb_gdp = srb_gdp.rename({'VALUE': 'GDP',
#                           'NAME_LATN': 'DISTRICT'}, axis=1)
# srb_gdp = srb_gdp[['NUTS_ID', 'DISTRICT', 'YEAR', 'GDP', 'UNIT']]
# srb_gdp.head()

  NUTS_ID                DISTRICT  YEAR           GDP      UNIT
0   RS110        City of Belgrade  2023  2.788723e+10  EUR 2021
1   RS121     Zapadnobačka oblast  2023  1.272390e+09  EUR 2021
2   RS122    Južnobanatska oblast  2023  2.453800e+09  EUR 2021
3   RS123       Južnobačka oblast  2023  7.281000e+09  EUR 2021
4   RS124  Severnobanatska oblast  2023  1.055790e+09  EUR 2021

In [35]:
# srb_gdp.to_csv('countries/SRB/datasets/SRB_gdp_2023_NUTS3.csv', index=False)