In [2]:
import pandas as pd
import numpy as np

In [4]:
bm = pd.read_csv('D:\Work\WB\LDT\countries\SRB\\raw_data\\bm.csv')
bm = bm[bm['year'] == 2022]
bm.to_csv('D:\Work\WB\LDT\countries\SRB\\datasets/SRB_luminosity_2022.csv', index=False)

In [4]:
bm = pd.read_csv('D:\Work\WB\LDT\countries\SRB\\datasets/SRB_luminosity_2022.csv')
bm.describe()

         year     luminosity
count   161.0     161.000000
mean   2022.0   49624.210796
std       0.0   64343.191069
min    2022.0    1500.500000
25%    2022.0   15170.850000
50%    2022.0   26742.600000
75%    2022.0   58070.800000
max    2022.0  470141.250000